@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model CO567WBL_Ticket_App.Models.ViewModels.BookNowViewModel

@{
    ViewData["Title"] = "Book Your Tickets";
}

<h1>@ViewData["Title"]</h1>

@if (SignInManager.IsSignedIn(User))
{
    <a asp-action="Index" asp-controller="Cart">Check Cart</a>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="BookNow">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Event Name:</label>
                    @Model.Event_Name
                    <span asp-validation-for="Event_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Event Date:</label>
                    @Model.Event_Date
                    <span asp-validation-for="Event_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Seat Number:</label>
                    <input asp-for="Seat_No" class="form-control" />
                    <span asp-validation-for="Seat_No" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Event ID:</label>
                    <input asp-for="Event_Id" class="form-control" readonly/>
                    <span asp-validation-for="Event_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        @TempData["Success"]
        <br />
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <a>Sorry, you need to be signed into an account to do this.</a>
    <br /><br />
    <div>
        You can <a href="/Identity/Account/Login">Login</a> here.
        Or <a href="/Identity/Account/Register">Register</a> if you haven't created an account yet.
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
